* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg: #1E1E1E;
  --bg-card: #302F3D;
  --text: #837e9f;
  --shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  --bg-tag: #CB92B1;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

#navbar {
  display: none;
}
#closeMenu {
  display: none;
}
a {
  text-decoration: none;
  color: var(--text);
}
a:hover{
  color: rgba(131, 126, 159, 0.4);
}
h2 {
  font-size: 20px;
}
#main {
  padding: 40px;
  display: flex;
  gap: 60px;
}
#left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 348px;
}
#profile {
  background: var(--bg-card);
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 32px 0 49px 0;
}
#profile img{
  width: 128px;
  border-radius: 9999px;
  border: 2px solid lime;
  margin-bottom: 30px;
}
#profile p {
  font-size: 23px;
  font-weight: bold;
}
#profile span {
  font-size: 13px;
  font-weight: light;
}
#links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--bg-card);
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 30px 0 34px 40px;
}
#links span i{
  font-size: 24px;
}
#links span {
  display: flex;
  gap: 10px;
  align-items: center;
}
#techs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--bg-card);
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 30px 0 30px 20px;
}
#tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 10px;
}
#techs .tag {
  display: flex;
  width: 86px;
  height: 24px;
  background: var(--bg-tag);
  font-size: 10px;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  border-radius: 30px;
}
#experiencias, #education {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--bg-card);
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 30px 0 30px 20px;
}
#experiencias ul, #education ul {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#experiencias ul li span, #education ul li span{
  font-size: 14px;
  font-weight: bold;
}
#experiencias ul li p, #education ul li p{
  font-size: 12px;
}
#right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-card);
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 30px;
  min-width: 300px;
}
#repos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.repo {
  background: var(--bg-card);
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 30px;
  flex-basis: calc(50% - 15px);
  flex-grow: 1;
  min-width: 300px;
}
#repos i {
  font-size: 20px;
  font-weight: bold;
}
#repos .repo-title{
  display: flex;
  gap: 1rem;
  font-weight: bold;
  padding-bottom: 22px;
}
#repos p {
  font-size: 14px;
  padding-bottom: 47px;
}
#repos .status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#repos .status .git{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.git div, .prog-lang div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#recent-posts {
  display: flex;
  align-items: center;
  background: var(--bg-card);
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 30px;
  min-width: 300px
}
#posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
}
.post {
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 20px;
  background: var(--bg-card);
}
.post-avatar img{
  width: 128px;
  border-radius: 9999px;
  margin-left: 30px;
}
.post-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}
#posts span {
  font-size: 14px;
}
.post-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.post-tags {
  display: flex;
  gap: 10px;
}
footer {
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo escuro transparente */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 2; /* Para ficar abaixo do menu */
}
.overlay.show {
  opacity: 1;
  visibility: visible;
}
body.noscroll {
  overflow: hidden;
}
#whatsapp-me i{
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-size: 50px;
  color: white;
  background-color: hsla(130, 61%, 50%, 1);
  padding: .5rem;
  border-radius: 20px;
  transition: opacity 0.5s ease;
}
#whatsapp-me i:hover {
  background-color: hsla(130, 61%, 50%, 0.8);
}
@media (max-width: 768px){
  .off-canvas {
    position: fixed;
    top: 0;
    left: -500px; /* Inicialmente escondido */
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s ease;
    margin: 0 1rem 1rem 1rem;
    z-index: 3;
    padding: 10px;
  }
  .off-canvas.open {
    left: 0;
    display: flex;
  }
  #closeMenu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem;
  }
  #projects a{
    display: none;
  }

  #navbar {
    display: block;
  }
  #navbar button{
    font-size: 30px;
    background: none;
    color: var(--text);
    border: none;
    transition: background 0.2s ease;
  }
  #navbar button:hover {
    color: var(--bg-card);
  }
  .post-avatar img{
    display: none;
  }
  .post-title h2{
    font-size: 1rem;
    font-weight: 400;
    margin-right: 5px;
  }
  .post-detail {
    display: none;
  }
  #whatsapp-me i {
    font-size: 30px;
    padding: 0.4rem;
  }
}